In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps

# Census & gmaps API Keys
from api_keys import (gkey)
c = Census(gkey, year=2013)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# Create a reference to the CSV and import it into a Pandas DataFrame for Census Data
census_csv = "Heat Map2/CBDataFileExpanded.csv"
census_df = pd.read_csv(census_csv)
print(census_df)

   Unnamed: 0         City State  Pop2019  Pop2010  Pop%<5  Pop%<18  Pop%<64  \
0           0     St Louis    MO   300576   319289     6.4     19.4     13.1
1           1       Austin    TX   978908   801829     6.4     20.4      8.9
2           2  Kansas City    MO   495327   459902     6.8     23.1     12.9
3           3    Lexington    NC    18933    18944     8.5     24.9     16.4
4           4      Memphis    TN   651073   651873     7.6     25.0     12.8
5           5     Lockhart    TX    14133    12690     3.7     21.4     15.4
6           6     Brooklyn    NY  8336817  8175031     6.5     20.8     14.5
7           7      Atlanta    GA   506811   427059     5.4     18.3     11.5
8           8    Nashville    TN   670820   603438     6.8     21.0     11.7
9           9       Dallas    TX  1343573  1197658     7.5     25.0     10.3

   PopFemale  MedValHm  ...  A&FSales1K  RSales1K  MedHInc  PerCapInc  \
0       51.6    138700  ...     1255664   2471933    43896      30542
1       49.2    337400  ...     3474670  14738182    71576      43043
2       51.5    154600  ...     1630048   7537341    54194      32348
3       50.4    104200  ...       70445    547854    29938      16954
4       52.7    101800  ...     1503947  18848867    41228      25605
5       54.2    141000  ...       27701    152660    55644      23346
6       52.3    606000  ...    27452861  92265000    63998      39828
7       51.5    290400  ...     3023387   6088296    59948      47424
8       51.8    239000  ...     2455123   9527759    59828      35243
9       50.6    188100  ...     3851458  16889012    52580      34479

   Poverty%  PopSqMile  LandAreaSqM   FIPSCode        Lat        Lng
0      21.8     5157.5        61.91  "2965000"  30.308808 -89.330046
1      13.2     2653.2       297.90  "4805000"  30.267153 -97.743061
2      16.1     1459.9       314.95  "2938000"  39.099727 -94.578567
3      27.0     1053.0        17.98  "3738060"  35.824027 -80.253384
4      25.1     2053.3       315.06  "4748000"  35.149534 -90.048980
5      14.6      815.3        15.58  "4843240"  29.884944 -97.670000
6      17.9    27012.5       302.64  "3651000"  40.678178 -73.944158
7      20.8     3154.3       133.15  "1304000"  33.748995 -84.387982
8      15.1     1265.4       475.13  "4752006"  36.162664 -86.781602
9      18.9     3517.6       340.52  "4819000"  32.776664 -96.796988

[10 rows x 26 columns]

In [3]:
city_grid_csv = 'Heat Map2/rating_city_grid_original.csv'
city_grid_df = pd.read_csv(city_grid_csv)

final_city_df = city_grid_df.dropna()
final_city_df

,Name,BizID,City,State,Zip,ReviewID,Rating
0,Chisholm Trail Bar-B-Q,10192811,Lockhart,TX,78644,ip_10302946967,8
1,Chisholm Trail Bar-B-Q,10192811,Lockhart,TX,78644,ip_9355790545,10
2,Chisholm Trail Bar-B-Q,10192811,Lockhart,TX,78644,ip_10313848476,10
3,Black's Barbecue,10192700,Lockhart,TX,78644,mism_153833,8
4,Kreuz Market,10192699,Lockhart,TX,78644,ip_10303211111,8
...,...,...,...,...,...,...,...
711,Atomic Wings,682573300,Brooklyn,NY,11201,judy_619072771,10
712,Atomic Wings,682573300,Brooklyn,NY,11201,judy_662466623,10
713,Atomic Wings,682573300,Brooklyn,NY,11201,judy_736796542,10
714,Atomic Wings,682573300,Brooklyn,NY,11201,judy_764174782,10
715,Five Spot Soul Food Restaurant,7338382,Brooklyn,NY,11205,grub_2090728570,8

In [4]:
final_city_df = city_grid_df[city_grid_df['City'].isin(["Lockhart", "Memphis","Kansas City","Lexington", "Austin", "St Louis"
          , "Dallas", "Nashville","Atlanta", "Brooklyn"] )]
final_city_df

,Name,BizID,City,State,Zip,ReviewID,Rating
0,Chisholm Trail Bar-B-Q,10192811,Lockhart,TX,78644,ip_10302946967,8
1,Chisholm Trail Bar-B-Q,10192811,Lockhart,TX,78644,ip_9355790545,10
2,Chisholm Trail Bar-B-Q,10192811,Lockhart,TX,78644,ip_10313848476,10
3,Black's Barbecue,10192700,Lockhart,TX,78644,mism_153833,8
4,Kreuz Market,10192699,Lockhart,TX,78644,ip_10303211111,8
...,...,...,...,...,...,...,...
711,Atomic Wings,682573300,Brooklyn,NY,11201,judy_619072771,10
712,Atomic Wings,682573300,Brooklyn,NY,11201,judy_662466623,10
713,Atomic Wings,682573300,Brooklyn,NY,11201,judy_736796542,10
714,Atomic Wings,682573300,Brooklyn,NY,11201,judy_764174782,10
715,Five Spot Soul Food Restaurant,7338382,Brooklyn,NY,11205,grub_2090728570,8

In [5]:
# Mean of ratings by state
final_city_df = final_city_df.groupby("City")['Rating'].mean()
final_city_df

City
Atlanta        6.444444
Austin         7.688889
Brooklyn       9.875000
Dallas         8.045455
Kansas City    8.355556
Lexington      8.551724
Lockhart       8.250000
Memphis        8.176471
Nashville      6.588235
St Louis       8.500000
Name: Rating, dtype: float64

In [6]:
grid_df = pd.DataFrame({
    
    'City Grid Rating': final_city_df, 
    
})
grid_df

             City Grid Rating
City
Atlanta              6.444444
Austin               7.688889
Brooklyn             9.875000
Dallas               8.045455
Kansas City          8.355556
Lexington            8.551724
Lockhart             8.250000
Memphis              8.176471
Nashville            6.588235
St Louis             8.500000

In [7]:
merge_df = pd.merge(grid_df, census_df, on='City')
merge_df

,City,City Grid Rating,Unnamed: 0,State,Pop2019,Pop2010,Pop%<5,Pop%<18,Pop%<64,PopFemale,...,A&FSales1K,RSales1K,MedHInc,PerCapInc,Poverty%,PopSqMile,LandAreaSqM,FIPSCode,Lat,Lng
0,Atlanta,6.444444,7,GA,506811,427059,5.4,18.3,11.5,51.5,...,3023387,6088296,59948,47424,20.8,3154.3,133.15,"""1304000""",33.748995,-84.387982
1,Austin,7.688889,1,TX,978908,801829,6.4,20.4,8.9,49.2,...,3474670,14738182,71576,43043,13.2,2653.2,297.90,"""4805000""",30.267153,-97.743061
2,Brooklyn,9.875000,6,NY,8336817,8175031,6.5,20.8,14.5,52.3,...,27452861,92265000,63998,39828,17.9,27012.5,302.64,"""3651000""",40.678178,-73.944158
3,Dallas,8.045455,9,TX,1343573,1197658,7.5,25.0,10.3,50.6,...,3851458,16889012,52580,34479,18.9,3517.6,340.52,"""4819000""",32.776664,-96.796988
4,Kansas City,8.355556,2,MO,495327,459902,6.8,23.1,12.9,51.5,...,1630048,7537341,54194,32348,16.1,1459.9,314.95,"""2938000""",39.099727,-94.578567
5,Lexington,8.551724,3,NC,18933,18944,8.5,24.9,16.4,50.4,...,70445,547854,29938,16954,27.0,1053.0,17.98,"""3738060""",35.824027,-80.253384
6,Lockhart,8.250000,5,TX,14133,12690,3.7,21.4,15.4,54.2,...,27701,152660,55644,23346,14.6,815.3,15.58,"""4843240""",29.884944,-97.670000
7,Memphis,8.176471,4,TN,651073,651873,7.6,25.0,12.8,52.7,...,1503947,18848867,41228,25605,25.1,2053.3,315.06,"""4748000""",35.149534,-90.048980
8,Nashville,6.588235,8,TN,670820,603438,6.8,21.0,11.7,51.8,...,2455123,9527759,59828,35243,15.1,1265.4,475.13,"""4752006""",36.162664,-86.781602
9,St Louis,8.500000,0,MO,300576,319289,6.4,19.4,13.1,51.6,...,1255664,2471933,43896,30542,21.8,5157.5,61.91,"""2965000""",30.308808,-89.330046

In [8]:
#Create a list of Cities and States to pull coordinates from Google Place Search
City_df = pd.DataFrame(
    {"City":['Lockhart','Memphis', "Kansas City", 'Lexington','Austin', 'St Louis', 'Dallas', 'Nashville', 'Atlanta',
              'Brooklyn'],
     "State":['TX', 'TN', 'MO', 'NC', 'TX', 'MO', 'TX', 'TN', 'GA', 'NY']
    }
) 

City_df.head(10)

          City State
0     Lockhart    TX
1      Memphis    TN
2  Kansas City    MO
3    Lexington    NC
4       Austin    TX
5     St Louis    MO
6       Dallas    TX
7    Nashville    TN
8      Atlanta    GA
9     Brooklyn    NY

In [9]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

Cities = ['{}, {}'.format(City, State) for City, State in zip(City_df['City'], City_df['State'])]
p_requests = [requests.get(base_url, params={
    'address':City,
    'key':gkey
}) for City in Cities]


places_data = [place.json() for place in p_requests]
places_data

[{'results': [{'address_components': [{'long_name': 'Lockhart',
      'short_name': 'Lockhart',
      'types': ['locality', 'political']},
     {'long_name': 'Caldwell County',
      'short_name': 'Caldwell County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Texas',
      'short_name': 'TX',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']},
     {'long_name': '78644', 'short_name': '78644', 'types': ['postal_code']}],
    'formatted_address': 'Lockhart, TX 78644, USA',
    'geometry': {'bounds': {'northeast': {'lat': 29.9244709,
       'lng': -97.62464390000001},
      'southwest': {'lat': 29.840644, 'lng': -97.72831509999999}},
     'location': {'lat': 29.8849441, 'lng': -97.6699996},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 29.9244709, 'lng': -97.62464390000001},
      'southwest': {'lat': 29.840644, 'lng': -97.72831509999999}}},
    'place_id': 'ChIJBTaxdVRWQ4YRFOFfLUFSM4U',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Memphis',
      'short_name': 'Memphis',
      'types': ['locality', 'political']},
     {'long_name': 'Shelby County',
      'short_name': 'Shelby County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Tennessee',
      'short_name': 'TN',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Memphis, TN, USA',
    'geometry': {'bounds': {'northeast': {'lat': 35.264187, 'lng': -89.637081},
      'southwest': {'lat': 34.994185, 'lng': -90.3044929}},
     'location': {'lat': 35.1495343, 'lng': -90.0489801},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 35.264187, 'lng': -89.637081},
      'southwest': {'lat': 34.994185, 'lng': -90.3044929}}},
    'place_id': 'ChIJRZdD6h5-1YcR_rYaYBXzk9E',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Kansas City',
      'short_name': 'KCMO',
      'types': ['locality', 'political']},
     {'long_name': 'Jackson County',
      'short_name': 'Jackson County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Missouri',
      'short_name': 'MO',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Kansas City, MO, USA',
    'geometry': {'bounds': {'northeast': {'lat': 39.356662, 'lng': -94.385522},
      'southwest': {'lat': 38.827176, 'lng': -94.765917}},
     'location': {'lat': 39.0997265, 'lng': -94.5785667},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 39.356662, 'lng': -94.385522},
      'southwest': {'lat': 38.827176, 'lng': -94.765917}}},
    'place_id': 'ChIJl5npr173wIcRolGqauYlhVU',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Lexington',
      'short_name': 'Lexington',
      'types': ['locality', 'political']},
     {'long_name': 'Lexington',
      'short_name': 'Lexington',
      'types': ['administrative_area_level_3', 'political']},
     {'long_name': 'Davidson County',
      'short_name': 'Davidson County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'North Carolina',
      'short_name': 'NC',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Lexington, NC, USA',
    'geometry': {'bounds': {'northeast': {'lat': 35.8593369,
       'lng': -80.2198241},
      'southwest': {'lat': 35.7575389, 'lng': -80.3299129}},
     'location': {'lat': 35.8240265, 'lng': -80.2533838},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 35.8593369, 'lng': -80.2198241},
      'southwest': {'lat': 35.7575389, 'lng': -80.3299129}}},
    'place_id': 'ChIJf9aquK2ZU4gRBDunOpwK6m8',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Austin',
      'short_name': 'Austin',
      'types': ['locality', 'political']},
     {'long_name': 'Travis County',
      'short_name': 'Travis County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Texas',
      'short_name': 'TX',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Austin, TX, USA',
    'geometry': {'bounds': {'northeast': {'lat': 30.5168629,
       'lng': -97.5684199},
      'southwest': {'lat': 30.0986589, 'lng': -97.9383829}},
     'location': {'lat': 30.267153, 'lng': -97.7430608},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 30.5168629, 'lng': -97.5684199},
      'southwest': {'lat': 30.0986589, 'lng': -97.9383829}}},
    'place_id': 'ChIJLwPMoJm1RIYRetVp1EtGm10',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'St. Louis',
      'short_name': 'St. Louis',
      'types': ['locality', 'political']},
     {'long_name': 'Missouri',
      'short_name': 'MO',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'St. Louis, MO, USA',
    'geometry': {'bounds': {'northeast': {'lat': 38.774349, 'lng': -90.166409},
      'southwest': {'lat': 38.5318519, 'lng': -90.320515}},
     'location': {'lat': 38.6270025, 'lng': -90.19940419999999},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 38.774349, 'lng': -90.166409},
      'southwest': {'lat': 38.5318519, 'lng': -90.320515}}},
    'place_id': 'ChIJ-Y7t-qm02IcRW-C7IsrqOb4',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Dallas',
      'short_name': 'Dallas',
      'types': ['locality', 'political']},
     {'long_name': 'Dallas County',
      'short_name': 'Dallas County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Texas',
      'short_name': 'TX',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Dallas, TX, USA',
    'geometry': {'bounds': {'northeast': {'lat': 33.0237921,
       'lng': -96.46375809999999},
      'southwest': {'lat': 32.617537, 'lng': -96.999347}},
     'location': {'lat': 32.7766642, 'lng': -96.79698789999999},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 33.0237921, 'lng': -96.46375809999999},
      'southwest': {'lat': 32.617537, 'lng': -96.999347}}},
    'place_id': 'ChIJS5dFe_cZTIYRj2dH9qSb7Lk',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Nashville',
      'short_name': 'Nashville',
      'types': ['locality', 'political']},
     {'long_name': 'Davidson County',
      'short_name': 'Davidson County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Tennessee',
      'short_name': 'TN',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Nashville, TN, USA',
    'geometry': {'bounds': {'northeast': {'lat': 36.4054959,
       'lng': -86.5155879},
      'southwest': {'lat': 35.9677851, 'lng': -87.054903}},
     'location': {'lat': 36.1626638, 'lng': -86.7816016},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 36.4054959, 'lng': -86.5155879},
      'southwest': {'lat': 35.9677851, 'lng': -87.054903}}},
    'place_id': 'ChIJPZDrEzLsZIgRoNrpodC5P30',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Atlanta',
      'short_name': 'Atlanta',
      'types': ['locality', 'political']},
     {'long_name': 'Fulton County',
      'short_name': 'Fulton County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'Georgia',
      'short_name': 'GA',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Atlanta, GA, USA',
    'geometry': {'bounds': {'northeast': {'lat': 33.8876179,
       'lng': -84.289389},
      'southwest': {'lat': 33.6478079, 'lng': -84.5518189}},
     'location': {'lat': 33.7489954, 'lng': -84.3879824},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 33.8876179, 'lng': -84.289389},
      'southwest': {'lat': 33.6478079, 'lng': -84.5518189}}},
    'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY',
    'types': ['locality', 'political']}],
  'status': 'OK'},
 {'results': [{'address_components': [{'long_name': 'Brooklyn',
      'short_name': 'Brooklyn',
      'types': ['political', 'sublocality', 'sublocality_level_1']},
     {'long_name': 'Kings County',
      'short_name': 'Kings County',
      'types': ['administrative_area_level_2', 'political']},
     {'long_name': 'New York',
      'short_name': 'NY',
      'types': ['administrative_area_level_1', 'political']},
     {'long_name': 'United States',
      'short_name': 'US',
      'types': ['country', 'political']}],
    'formatted_address': 'Brooklyn, NY, USA',
    'geometry': {'bounds': {'northeast': {'lat': 40.739446,
       'lng': -73.8333651},
      'southwest': {'lat': 40.551042, 'lng': -74.05663}},
     'location': {'lat': 40.6781784, 'lng': -73.9441579},
     'location_type': 'APPROXIMATE',
     'viewport': {'northeast': {'lat': 40.739446, 'lng': -73.8333651},
      'southwest': {'lat': 40.551042, 'lng': -74.05663}}},
    'place_id': 'ChIJCSF8lBZEwokRhngABHRcdoI',
    'types': ['political', 'sublocality', 'sublocality_level_1']}],
  'status': 'OK'}]

In [10]:
[place['results'][0] for place in places_data if len(place['results']) > 0]

#city_list = [h_attribute['results'][0]['address_components']['long_name'] for h_attribute in places_data if len(h_attribute['results']) > 0]
lat_list = [h_attribute['results'][0]['geometry']['location']['lat'] for h_attribute in places_data if len(h_attribute['results']) > 0]
lng_list = [h_attribute['results'][0]['geometry']['location']['lng'] for h_attribute in places_data if len(h_attribute['results']) > 0]

coordinates_df = pd.DataFrame(data={'Lat': lat_list, 'Lng': lng_list }, copy=True)
coordinates_df.head(10)

         Lat        Lng
0  29.884944 -97.670000
1  35.149534 -90.048980
2  39.099727 -94.578567
3  35.824027 -80.253384
4  30.267153 -97.743061
5  38.627003 -90.199404
6  32.776664 -96.796988
7  36.162664 -86.781602
8  33.748995 -84.387982
9  40.678178 -73.944158

In [11]:
# Merge the SFact_DF and line_DF into a combined dataframe
coordinates_df = pd.merge(City_df, coordinates_df, left_index = True, right_index = True)
coordinates_df.head(11)

          City State        Lat        Lng
0     Lockhart    TX  29.884944 -97.670000
1      Memphis    TN  35.149534 -90.048980
2  Kansas City    MO  39.099727 -94.578567
3    Lexington    NC  35.824027 -80.253384
4       Austin    TX  30.267153 -97.743061
5     St Louis    MO  38.627003 -90.199404
6       Dallas    TX  32.776664 -96.796988
7    Nashville    TN  36.162664 -86.781602
8      Atlanta    GA  33.748995 -84.387982
9     Brooklyn    NY  40.678178 -73.944158

In [12]:
merge_df2 = merge_df.copy()
merge_df2[['City','State', 'Lat', 'Lng']]

          City State        Lat        Lng
0      Atlanta    GA  33.748995 -84.387982
1       Austin    TX  30.267153 -97.743061
2     Brooklyn    NY  40.678178 -73.944158
3       Dallas    TX  32.776664 -96.796988
4  Kansas City    MO  39.099727 -94.578567
5    Lexington    NC  35.824027 -80.253384
6     Lockhart    TX  29.884944 -97.670000
7      Memphis    TN  35.149534 -90.048980
8    Nashville    TN  36.162664 -86.781602
9     St Louis    MO  30.308808 -89.330046

In [13]:
for i,r in coordinates_df.iterrows():
     merge_df2.loc[merge_df2['City']==r['City'],'Lat'] = r['Lat']
     merge_df2.loc[merge_df2['City']==r['City'],'Lng'] = r['Lng']
     merge_df2.loc[merge_df2['City']==r['City'],'State'] = r['State']

In [14]:
locations = merge_df2[['Lat', 'Lng']]
locations

         Lat        Lng
0  33.748995 -84.387982
1  30.267153 -97.743061
2  40.678178 -73.944158
3  32.776664 -96.796988
4  39.099727 -94.578567
5  35.824027 -80.253384
6  29.884944 -97.670000
7  35.149534 -90.048980
8  36.162664 -86.781602
9  38.627003 -90.199404

In [15]:
markers = gmaps.marker_layer(locations)

# Adding city marks to the heatmap
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>City Grid Rating</dt><dd>{City Grid Rating}</dd>
<dt>Population Count</dt><dd>{Pop2019}</dd>
<dt>Food Sales</dt><dd>{A&FSales1K}</dd>
<dt>Per Capita Income</dt><dd>{PerCapInc}</dd>
</dl>
"""

merge_info = [info_box_template.format(**row) for index, row in merge_df2.iterrows()]


# Create city symbol layer
merge_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=merge_info
)

In [16]:
fig=gmaps.figure()
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = merge_info)

# Add the layer to the map
fig.add_layer(markers)
             

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))